<!doctype html>
<html>
	<head>
		<title>Testbook!</title>
		<link type="text/css" rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		{% for greeting in greetings %}
			{% if greeting.author %}
				<b>{{ greeting.author.nickname }}</b> wrote: 
			{% else %}
				An anonymous person wrote:
			{% endif %}
			<blockquote>{{ greeting.content|escape }}</blockquote>
		{% endfor %}

		<form action="/sign" method="post">
			<p><textarea name="content" rows="3" cols="30"></textarea></p>
			<p><input type="submit" value="sign" /></p>
		</form>

		<a href="{{ url }}">{{ url_linktext }}</a>

	</body>
</html>